<div class="container d-flex justify-content-center my-5">
<div class="card w-75 center">
    <div class="card-body">
        <h3 class="card-title text-center text-primary">FULL DETAILS</h3>
        <p class="card-text my-4">Full Name: {{details.Name.fname}} {{details.Name.mname}} {{details.Name.lname}}</p>
        <p class="card-text my-4">Email Id: {{details.email}}</p>
        <p class="card-text my-4">Adress: {{details.address1}} {{details.address2}}</p>
        <p class="card-text my-4">City: {{details.city}}</p>
        <p class="card-text my-4">Phone Number: {{details.phone}}</p>
        <p class="card-text my-4">Pin Code: {{details.zip}}</p>
    </div>
</div>
</div>